﻿
<div class="text-content">
    <h2 name="who">Who we are</h2>
    <p>
        We are leading innovators in translating the science of brain development and enhancement into interactive tools that are readily accessible to end users (smart phone/tablet apps, web, wearable technology, games, etc.).
        We are passionate about changing the world one child at a time.
        We are a world-class team made up of passionate and highly motivated scientists, engineers, game developers, artists, designers, and learning specialists.
        Our team is actively engaged with leading academics around the world to integrate scientifically advanced auditory and visual stimuli into every day’s lives in order to enhance the neurological capabilities of humans.
    </p>


    <h2 name="foundation"> We Are Preserving the Innate Abilities That Children Are Born With</h2>
    <p>
        We aim to help build the foundation of a child’s brain so that he or she is better wired for cognitive development. Kadho aims to provide an enriched environment for brain development beyond what any non-technological environment possibly could. We have developed a highly scientific approach that will help build a solid neurofoundation™ for all children. With Kadho, children have an advantage in enhancing their attention span, memory, and of course, language-learning abilities.

        Kadho is firmly rooted in science. Our products are based on over 50 years of research and are verified by our own studies. Our toys and games are designed under the guidance of renowned experts. Our team is actively engaged with leading academics, scientist, pediatricians, and early educators around the world to integrate scientifically advanced auditory and visual stimuli into everyday lives in order to enrich the neurological development of children. Each of our products are carefully developed under a team of researchers. We know that Kadho works.
    </p>
</div>