﻿
<div class="text-content">
    <h1 style="margin-bottom: 20px; text-align: left; font-size: 2em; font-weight: normal;">Frequently Asked Questions</h1>

    <h2 class="faq-question">What do you do?</h2>
    <p class="faq-answer">
        We create products (games and ebooks) to enrich a child’s cognitive development.
        Our products aim to enhance language development, musicality, and memory skills,
        to maintain visual abilities, and to improve a child’s ability to learn multiple languages later in life.
        Kadho’s initial products consist of a pipeline of mobile applications that are backed by over 50 years of scientific research.
        The applications will consist of games that expose children to a series of neurological
        stimuli (sounds, visual tasks, etc.),that aim to help a child grow to their full potential.
    </p>

    <h2 class="faq-question">Who’s Mochu?</h2>
    <p class="faq-answer">
        Mochu, the penguin, is one of our main characters that a child interacts with through games,
        songs, and books. Mochu was carefully designed and created to provide the child with positive social and emotional support,
        as well as engagement and motivation.
    </p>

    <h2 class="faq-question">Have you tested your platforms?</h2>
    <p class="faq-answer">
        We have validated our games for both safety and efficacy in clinical-type settings.
        In addition, we have world-renowned advisors in child development, early education,
        and neuroscience who provide guidance on our product development. We have demonstrated significant positive
        results in several in-house studies with children from as young as 8 months to as old as 7 years of age.
        We have shown significant efficacy with as little as 7 hours of total game play over 4 weeks,
        and the improved effect has been shown to be maintained and enhanced through continued play.
    </p>

    <h2 class="faq-question">How can I know this is working?</h2>
    <p class="faq-answer">
        Monitoring the effect of our products is an essential component of the package that
        Kadho has to offer. When we first started this journey, parents asked us how they could quantify the effect of these games.
        While designing the Kadho Curriculum, we added an “analytic dashboard”
        that monitors kids’ performance throughout the game. We include tangible endpoints that parents can connect with.
        These endpoints and data are obtained through “audio and visual tasks” embedded within the game.
    </p>

    <h2 class="faq-question">How much does your services cost?</h2>
    <p class="faq-answer">
        Basic membership to Kadho.com is free, and non-subscribing members have access to a limited number of the games and features on Kadho.
        Paid subscribers have full access to the Kadho program, which includes all the games.
    </p>

    <h2 class="faq-question">What products do you have?</h2>
    <p class="faq-answer">
        We have interactive digital books, games, and songs that help enrich the cognitive development
        of skills needed for language learning, musical abilities, working memory, impulse control, reasoning, and intelligence.
    </p>

    <h2 class="faq-question">How often does my child need to play with your game to see benefits?</h2>
    <p class="faq-answer">
        We recommend less than 20 minutes of play a day for children under 2 and less than 40 for children under 4.
        With as little as 15 minutes of play a day, we would expect to see results in as little as 3 weeks.
    </p>

    <h2 class="faq-question">
        I was told that screen time and media for children under two is not recommended.
        <br />Is that true?
    </h2>
    <p class="faq-answer">
        It would be unfair to categorize all screen time under the same category. Several decades ago,
        televisions were the only screen time available. Now we have electronic games, laptops, smartphones,
        tablets, and augmented reality.
        Technology today allows for amazing opportunities for children that you previously couldn’t provide through traditional means.
        However, we do understand parents’ concerns about technology use with children,
        and we feel that for the very young, it is inevitable now and in the future. Media and technology will be part of our lives,
        and we need to be able to incorporate them in a sensible way and make smart decisions on what media we allow our children to use.
        Data suggest that children from eight months to eight years are exposed to over 4 hours of TV a day;
        we believe that this is too much screen time spent on non-enriching media,
        and it’s essential that, during the critical periods of brain development,
        children are not wasting developmental opportunities on “wrong” screen time.
        The American Academy of Pediatrics discourages parents from using media with
        children under 24 months of age because there is a lack of evidence on children learning
        from television or videos before age 2. However, their guidelines do not cover
        interactive content that can be created with today’s technology.
        Research shows that content can make a difference.
        To address these concerns, we have experts in pediatrics, child development,
        and early education and very technologically conservative advisors on our board to provide guidance on the development of our products.
    </p>

    <h2 class="faq-question">Can iPads substitute for actual parent-child interactions like talking, reading, and singing?</h2>
    <p class="faq-answer">
        Although technology is changing how children learn and opening up new and exciting methods of teaching,
        we believe nothing is better than real parent-child interactions.
        Technology should never be used as a full-time babysitter to replace parent and child interactions.
        Instead it should be there to augment enrichment.
        Children need to play outdoors and get multisensory stimulation to help properly develop their brain.
        If the only thing children did was play outdoors, it would not be recommended as well,
        so the same logic needs to be applied to technology, and balance is key to proper brain development.
        We would say not to use our software if you as a parent have the resources to hire multiple babysitters
        who are fluent in different languages, as well as scientists, child development experts,
        and early educators to provide enriching games and exercises.
        However, most parents do not have the resources to provide such an environment,
        so we recommend playing, talking, singing, reading, and socializing with your children,
        then adding Kadho products to help enrich your child’s life even more.
    </p>


</div>