﻿<table width="100%" height="100%" align="center">
    <tbody>
        <tr>
            <td align="center" valign="top" style="padding: 0px 50px 50px; width: 100%; height: 100%;">

                <table style="width: 500px;">
                    <tr>
                        <td style="text-align: center; padding: 20px;">
                            <img src="http://www.kadho.com/app/Content/images/logo.png" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Thank you! You’ve been added to the Kadho Early Access waitlist!
                            <br /><br />

                            <b>Interested in priority access?</b>
                            <br />
                            Get early access by referring your friends. The more friends that join, the sooner you’ll get access. Just share this link: @@ShareUrl
                            <br /><br />
                            You can check your spot in the Kadho Early Access waitlist any time by clicking @@CheckUrl.
                            <br /><br />

                            Sincerely,
                            <br />
                            Kadho Inc.
                            <br />
                            kadho.com

                            <br /><br />
                            <div style="font-size: small; color: #808080;">
                                Copyright © 2014 Kadho. All rights reserved.
                            </div>

                            @@UnsubscribeUrl
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </tbody>
</table>