﻿
<div class="content">
    <img src="@Url.Content("~/Content/images/logo.png")">

    <h1 class="title">
        Transforming Life through Sound and Science
    </h1>

    <div ng-show="signInAttempted">

        <modal-dialog show='isPlaying' width='500px'>
            <vimeo height="270"
                   width="480"
                   control-boolean="isPlaying" vid="106073436" pid="1"></vimeo>
        </modal-dialog>
        <div style="padding: 20px;">
            <h2 class="home-subtitle"><a ng-click="play()">Watch our video</a></h2>
        </div>
        <div ng-show="user">
            <h1 class="waitinline">
                {{user.name}}, you're #{{user.positionInLine}} in line!
            </h1>
            <div>
                Not <a ng-click="clearUser()">{{user.email}}?</a>
            </div>
        </div>


        <modal-dialog show='displayCompleteSignupModal' dialog-title='Almost there!' width='375px'>

            <form name="confirmForm"
                  ng-controller="ConfirmFormController"
                  ng-submit="submit()"
                  class="sign-up"
                  novalidate>
                <div class="field">
                    <label>Name</label>
                    <div class="error" ng-show="(buttonAttempt || confirmForm.given_name.$dirty) && confirmForm.given_name.$invalid">
                        required
                    </div>
                    <input name="given_name"
                           placeholder="Name"
                           type="text"
                           ng-model="new_user.name"
                           autofocus
                           required>
                </div>
                <div class="field">
                    <label>Email</label>
                    <div class="error" ng-show="(buttonAttempt || confirmForm.email.$dirty) && confirmForm.email.$invalid">
                        valid email required
                    </div>
                    <input placeholder="Email"
                           type="email"
                           ng-model="new_user.email"
                           name="email" required />
                </div>


                <div class="field">
                    <label>Zip code</label>
                    <div class="error" ng-show="(buttonAttempt || confirmForm.zip.$dirty) && confirmForm.zip.$invalid">
                        Enter valid zip
                    </div>
                    <input ui-mask="99999"
                           name="zip"
                           ng-model="new_user.zip">
                </div>

                <div class="field">
                    <label>Children Ages</label>
                    <label class="hidden">Children Ages</label>
                    <input placeholder="Children ages separated by spaces or commas" type="text" ng-model="new_user.childrenAge" name="childrenAge" />
                </div>

                <p class="sign-up-disclaimer">
                    By signing up, you agree to our <a href="@Url.Action("Index", "TOS")" target="_blank">
                        Terms of
                        service.
                    </a>
                </p>

                <button type="submit" class="sign-up-submit-btn btn btn-primary btn-lrg btn-full" ng-disabled="disableSubmit">
                    <span ng-show="(confirmForm.$valid || confirmForm.$pristine) && !disableSubmit">Complete sign up</span>
                    <span ng-show="!confirmForm.$valid && confirmForm.$dirty && !disableSubmit">Fix errors above</span>
                    <span ng-show="disableSubmit">Please wait...</span>
                </button>

                <div ng-switch="signupMessage" class="sign-up-error" ng-animate=" 'animate' ">
                    <div ng-switch-when="InvalidZip">
                        Please enter a valid US zip code.
                    </div>
                    <div ng-switch-when="InvalidName">
                        Please enter a valid name! We'd like to know who is interested :).
                    </div>
                    <div ng-switch-when="InvalidEmail">
                        Please enter a valid email! Your email will only be used to contact you about Kadho!
                    </div>
                    <div ng-switch-when="FailEmailExist">
                        You're already on the waitlist!
                        <br />Please check your email for a link to view your spot in line!
                        <br />Can't find the email? <a href="#" ng-click="resendEmail()">Click here</a> to re-send the link.
                    </div>
                    <div ng-switch-when="Error">
                        Oops! Looks like an error has occurred while signing you up!
                        Please try again in a moment and if this happens again, please email us at kadho@kadho.com!
                    </div>

                    <div ng-switch-when="ResendEmailError">
                        Oops! Looks like an error has occurred while resending you the email!
                        Please try again in a moment and if this happens again, please email us at kadho@kadho.com!
                    </div>
                    <div ng-switch-when="ResendEmailSuccess">
                        Email has been resent! Please check your email!
                    </div>
                    <div ng-switch-when="RecentlySentEmail">
                        An email has recently been sent already! Please check your email!
                    </div>
                </div>
            </form>

        </modal-dialog>


        <div ng-show="!user">
            <div class="sign-up-main">
                <form name="emailform"
                      ng-controller="SignupFormController"
                      ng-submit="submit()"
                      class="sign-up"
                      novalidate>
                    <input placeholder="Email" type="email" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }" ng-model="new_user.email" name="email" required="" class="ng-pristine ng-invalid ng-invalid-required ng-valid-email">
                    <button type="submit" class="sign-up-submit-btn btn btn-primary btn-lrg btn-full customButton">
                        <span ng-show="emailform.$valid || emailform.$pristine" class="">
                            Complete sign up
                        </span>
                        <span ng-show="!emailform.$valid &amp;&amp; emailform.$dirty" class="ng-hide">
                            Enter a valid email above
                        </span>
                    </button>

                    <div style="margin: auto; margin-top: 10px; margin-bottom: 10px; width: 240px;">
                        <div style="margin: auto;">
                            <div style="float: left;">
                                <div style="margin-top: 5px;" google-signin=""
                                     client-id='151458216512-34e39r5giqgu6hdri2dhklms1no4fn69'
                                     after-signin="oauthSignIn(oauth)"></div>
                            </div>
                            <div style="float: left; margin-left: 10px;">
                                <div style="margin: auto; margin-top: 0px;" class="fblogin" ng-click="fbLogin()">
                                    <i class="fbloginIcon"></i>
                                    Sign-in
                                </div>
                            </div>
                        </div>
                    </div>
                    <br class="clear" />
                    <div class="home-stat">
                        Takes just <strong>15 seconds</strong> to sign up!
                    </div>
                </form>
            </div>

        </div>
    </div>

</div>