﻿<!DOCTYPE html>
<html js
      backgroundsize
      svg
      wf-proximanova-i3-active
      wf-proximanova-i4-active
      wf-proximanova-n3-active
      wf-proximanova-n4-active
      wf-proximanova-n6-active
      wf-proximanova-n7-active
      wf-active
      ng-controller="IndexCtrl">
<head>
    @*<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.js" type="text/javascript">
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js" type="text/javascript">
        </script>*@

    <link rel="stylesheet" href="@Url.Content("~/Content/styles/ng-modal.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/Content/styles/select.min.css")" type="text/css">

    <!--Jquery-->
    <link rel="stylesheet" href="@Url.Content("~/Scripts/jquery-ui-1.11.2.custom/jquery-ui.min.css")">
    <script src="@Url.Content("~/Scripts/jquery.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.11.2.custom/jquery-ui.min.js")"></script>

    <script src="@Url.Content("~/Scripts/bower_components/angular/angular.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bower_components/angular-route/angular-route.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bower_components/angular-ui-select/select.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bower_components/angular-sanitize/angular-sanitize.min.js")" type="text/javascript"></script>
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.0.0-rc1.min.js" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ng-modal.js")" type="text/javascript"></script>

    <!--bootstrap-->
    <link rel="stylesheet" href="@Url.Content("~/Scripts/bootstrap-3.2.0-dist/css/bootstrap.min.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/Scripts/bootstrap-3.2.0-dist/css/bootstrap-theme.min.css")" type="text/css">
    <script src="@Url.Content("~/Scripts/bootstrap-3.2.0-dist/js/bootstrap.min.js")" type="text/javascript"></script>

    <link rel="stylesheet" href="@Url.Content("~/Content/styles/kadho.css")" type="text/css">

    <!--<link href='https://fonts.googleapis.com/css?family=RobotoDraft:400,500,700,400italic'-->
    <!--rel='stylesheet'-->
    <!--type='text/css'>-->
    <title>Kadho - Transforming life through sound and science.</title>
</head>
<body class="index"
      ng-class="indexClass"
      ng-style="{'background-image': 'url(' + selectedBg + ')'}">

    <!-- debug -->
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1473817606225087&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        (function () {
            var e = document.createElement('script');
            e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
            e.async = true;
            document.getElementById('fb-root').appendChild(e);
        }());
    </script>



    <div ng-show="debug" style="position:absolute;z-index:100;max-width:70px;margin:10px;top:0px">
        <select ng-model="selectedBg">
            <option value="">select bg</option>
            <option value="../Content/images/bg1.jpg">1</option>
            <option value="../Content/images/bg2.jpg">2</option>
            <option value="../Content/images/bg3.jpg">3</option>
            <option value="../Content/images/bg4.jpg">4</option>
        </select>
    </div>
    <!-- end debug -->

    <main class="main">


        <div class="nav" style="margin-left: auto; margin-right: auto; margin-top: 2em">
            <ul class="nav nav-pills" style="float: right; margin-right: 2em;">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        About
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="About">Who We Are</a></li>
                        <li><a href="Science">Science</a></li>
                    </ul>
                </li>
                <li><a href="FAQ">FAQ</a></li>
                <li class="getAccess"><a href="/" class="getAccess">Get Early Access!</a></li>
                @*<li>
                    <a href="/">
                        <img src="@Url.Content("~/Content/images/logo.png")" style="width:40px">
                    </a>
                </li>*@
            </ul>

        </div>

        <div class="corner">Private Beta</div>


        <div ng-view="" id="mainform">
            @RenderBody()
        </div>

        <script src="@Url.Content("~/Scripts/app.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/ui-utils.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/controllers.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/services.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/directives.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/froogaloop.js")" type="text/javascript"></script>
        <script type="text/javascript">
            (function () {
                var po = document.createElement('script');
                po.type = 'text/javascript';
                po.async = true;
                po.src = 'https://apis.google.com/js/client:plusone.js?onload=onLoadCallback';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(po, s);
            })();


            //    window.fbAsyncInit = function() {
            //        FB.getLoginStatus(function(response) {
            //        statusChangeCallback(response);
            //      });
            //    };
        </script>
        <br class="clear" />
        <footer ng-class="footerClass">
            <br class="clear" />
            <a href="#" ng-click="debug=!debug">Toggle debug widgets</a>
            <a href="About">Who We Are</a>
            <a href="Science">Science</a>
            <a href="FAQ">FAQ</a>
            <a href="/">Early Access</a>
            <a href="#">Contact us</a>
        </footer>

    </main>
</body>
</html>