@font-face {
	font-family: "Proxima Nova Bold";
	src: url("/fonts/Proxima Nova Bold.eot");
	src: local("☺"), url("/fonts/Proxima Nova Bold.woff") format("woff"), url("/fonts/Proxima Nova Bold.ttf") format("truetype"), url("/fonts/Proxima Nova Bold.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Proxima Nova Bold It";
	src: url("/fonts/Proxima Nova Bold It.eot");
	src: local("☺"), url("/fonts/Proxima Nova Bold It.woff") format("woff"), url("/fonts/Proxima Nova Bold It.ttf") format("truetype"), url("/fonts/Proxima Nova Bold It.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Proxima Nova Light";
	src: url("/fonts/Proxima Nova Light.eot");
	src: local("☺"), url("/fonts/Proxima Nova Light.woff") format("woff"), url("/fonts/Proxima Nova Light.ttf") format("truetype"), url("/fonts/Proxima Nova Light.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Proxima Nova Light It";
	src: url("/fonts/Proxima Nova Light It.eot");
	src: local("☺"), url("/fonts/Proxima Nova Light It.woff") format("woff"), url("/fonts/Proxima Nova Light It.ttf") format("truetype"), url("/fonts/Proxima Nova Light It.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Proxima Nova Reg";
	src: url("/fonts/Proxima Nova Reg.eot");
	src: local("☺"), url("/fonts/Proxima Nova Reg.woff") format("woff"), url("/fonts/Proxima Nova Reg.ttf") format("truetype"), url("/fonts/Proxima Nova Reg.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Proxima Nova Reg It";
	src: url("/fonts/Proxima Nova Reg It.eot");
	src: local("☺"), url("/fonts/Proxima Nova Reg It.woff") format("woff"), url("/fonts/Proxima Nova Reg It.ttf") format("truetype"), url("/fonts/Proxima Nova Reg It.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}