﻿@charset "UTF-8";
/*** uncss> filename: http://localhost:9000/styles/kadho.css ***/

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

}

body {
  margin: 0;
}

footer,
main {
  display: block;
}

a {
  background: transparent;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

img {
  border: 0;
}

select {
  color: inherit;
  font: inherit;
  margin: 0;
}

select {
  text-transform: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

@-ms-viewport {
  width: device-width;
}

/* end reset */


.hidden {
  display: none;
  visibility: hidden
}


html {
  min-height: 100%;
  font-weight: 200;
  color: #333;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 33px;
  font-weight: 300;
  letter-spacing: 0;
  text-transform: none;
  -webkit-font-smoothing: subpixel-antialiased;
  text-rendering: optimizelegibility;
  text-transform: none;
}

h2 {
    padding-top: 2em;
}

.index {
  background-color:#f8f7f5;
}

.splash {
  background-size: cover;
  position: relative;
  background-position: right center;



  -webkit-transition: background-image 1s ease-in-out;
  -moz-transition: background-image 1s ease-in-out;
  -ms-transition: background-image 1s ease-in-out;
  -o-transition: background-image 1s ease-in-out;
  transition: background-image 1s ease-in-out;

  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.still {
  background-size: 200px;
  position: fixed;
  background-position: right center;



  -webkit-transition: background-image 1s ease-in-out;
  -moz-transition: background-image 1s ease-in-out;
  -ms-transition: background-image 1s ease-in-out;
  -o-transition: background-image 1s ease-in-out;
  transition: background-image 1s ease-in-out;

  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.content {
  max-width: 470px;
  float: right;
  margin: 0 5% 30px 0;
  padding: 80px 0 0;
  text-align: center;
}

.title {
  font-size: 22px;
  line-height: 1.125;
  margin: 34px 0 50px;
  text-align: center;
}

select {
  text-transform: none;
}

select {
  color: inherit;
  font: inherit;
  margin: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

select {
  margin: 0em;
  font: -webkit-small-control;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
}

select {
  -webkit-writing-mode: horizontal-tb;
}

@media (max-width: 1135px) {
  .sign-up-name-first {
    width: 100%;
  }

  .sign-up-name-first {
    width: 248px;
  }

  body {
    background: #fbf7ee;
    color: #464d51;
    font-size: 13px;
    line-height: 20px;
    margin: 0;
    -webkit-font-smoothing: antialiased;
  }

  img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
  }

  h1,
  h2 {
    color: black;
    letter-spacing: 0.05em;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    font-weight: normal;
    line-height: 1;
    text-rendering: optimizelegibility;
  }

  h1 {
    font-size: 50px;
    line-height: normal;
    margin: 0 0 35px;
  }

  h2 {
    font-size: 34px;
    letter-spacing: 0.035em;
    margin: 0 0 10px;
  }

  a {
    color: #464d51;
    text-decoration: none;
  }

  a:hover,
  a:focus {
    color: #464d51;
  }

  a:focus {
    outline: 0;
  }

  select {
    width: 100%;
    background: #f4f1ed;
    border: 1px solid #dfdbdb;
    border-top-color: #cfccd0;
    border-bottom-color: #e8e5e3;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075) inset, 0 1px #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #56534d;
    letter-spacing: 0.05em;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    font-size: 15px;
    display: inline-block;
    margin-bottom: 10px;
    padding: 9px 15px;
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
  }

  select:focus {
    border-color: #009ae6;
    outline: 0;
  }

  select:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }

  body {
    -webkit-backface-visibility: hidden;
  }

}  /*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

@media print {
    * {
      background: transparent !important;
      color: #000 !important;
      box-shadow: none !important;
      text-shadow: none !important;
    }

    a,
    a:visited {
      text-decoration: underline;
    }

    a[href]:after {
      content: " (" attr(href) ")";
    }

    a[href^="#"]:after {
      content: "";
    }

    img {
      page-break-inside: avoid;
    }

    img {
      max-width: 100% !important;
    }

    h2 {
      orphans: 3;
      widows: 3;
    }

    h2 {
      page-break-after: avoid;
    }
}

  *,
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  :first-child {
    margin-top: 0;
  }

  :last-child {
    margin-bottom: 0;
  }

  select {
    letter-spacing: 0.025em;
    padding-bottom: 10px;
  }

  body {
    background: #fff;
    color: #464d51;
    font-size: 16px;
  }

  h1,
  h2 {
    color: #464d51;
    letter-spacing: 0;
    text-transform: none;
    -webkit-font-smoothing: subpixel-antialiased;
  }

  h1 {
    font-size: 40px;
    font-weight: 300;
    margin: 0 0 64px;
  }

@media (max-width: 568px) {
    h1 {
      font-size: 30px;
      margin: 0 0 50px;
    }
}

  h2 {
    font-size: 30px;
    font-weight: 300;
    line-height: 1.27;
    margin: 0 0 20px;
  }

@media (max-width: 568px) {
    h2 {
      font-size: 24px;
      margin: 0 0 16px;
    }
}

  a {
    color: #464d51;
  }

  a:hover,
  a:focus {
    color: #464d51;
  }

  .main {
    overflow: hidden;
  }

  html {
    min-height: 100%;
  }

@media (max-width: 820px) {
    .index {
      padding: 0 0 45px;
    }
}

  .index .main {
    background: none;
    color: rgb(70, 77, 81);
    position: relative;
  }

  .corner {
    width: 202px;
    height: 131px;
    background: url("../images/c.png");
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    text-indent: 150%;
    white-space: nowrap;
  }

@media (max-width: 568px) {
    .corner {
      display: none;
    }
}

  .home-subtitle {
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 12px;
    text-align: center;
    text-transform: none;
  }

@media (max-width: 568px) {
    .home-subtitle {
      color: #fff;
    }
}

.home-footer {
    line-height: 1;
    width: 100%;
    clear: both;
    font-size: 13px;
    margin-top: 50px;
    position: relative;
    bottom: 0;
    left: 0;
    text-align: center;
}

.home-footer-dynamic {
    width: 100%;
    clear: both;
    font-size: 13px;
    margin-top: 0px;
    margin-bottom: 30px;
    bottom: 0;
    left: 0;
    text-align: center;
}

@media (max-width: 950px) {
    .home-footer {
      padding: 0 24px;
    }
}

@media (max-height: 700px) {

}

  .home-footer a {
    color: rgb(70, 77, 81);
    display: inline-block;
    font-weight: bold;
    margin: 0 10px 10px;
  }

  .home-footer a:hover,
  .home-footer a:focus {
    color: rgb(70, 77, 81);
    color: rgba(255, 255, 255, 0.85);
  }
  
  .home-footer-dynamic a {
    color: rgb(70, 77, 81);
    display: inline-block;
    font-weight: bold;
    margin: 0 10px 10px;
  }

  .home-footer-dynamic a:hover,
  .home-footer-dynamic a:focus {
    color: rgb(70, 77, 81);
    color: rgba(255, 255, 255, 0.85);
  }


/*Paste here*/



label {
  cursor: pointer;
  display: block;
  margin-bottom: 1px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  -webkit-font-smoothing: subpixel-antialiased;
  font-size: 10px;
  text-align: left;
  margin-left:4px;
  float:left;
}

.error {
  cursor: pointer;
  display: block;
  margin-bottom: 1px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  -webkit-font-smoothing: subpixel-antialiased;
  font-size: 10px;
  text-align: right;
  margin-right:4px;
  color:#830c0c;
  float:right;
}



input:focus, textarea:focus, select:focus, .input-faux:focus, .mockinput:focus {
  border-color: #009ae6;
  outline: 0
}

.input-select:focus {
  box-shadow: 0 0 1px #009ae6, 0 0 1px #009ae6, 0 0 1px #009ae6, 0 0 1px #009ae6, 0 0 1px #009ae6;
  outline: 0
}

input[disabled], input[readonly], textarea[disabled], textarea[readonly], select[disabled], select[readonly], .input-faux[disabled], [disabled].mockinput, .input-faux[readonly], [readonly].mockinput {
  background-color: #eeeeee;
  cursor: not-allowed
}


input.error, select.error {
  border: 1px #830c0c solid
}
input.ng-dirty.ng-invalid {
  border-color: #830c0c;
}


input, .ui-select-match, .ui-select-search {
  -webkit-appearance:none;
  -webkit-background-clip:border-box;
  -webkit-background-origin:padding-box;
  -webkit-background-size:auto;
  -webkit-box-shadow:none;
  -webkit-font-smoothing:antialiased;
  -webkit-rtl-ordering:logical;
  -webkit-transition-delay:0s,0;
  -webkit-transition-duration:0.4s,.4s;
  -webkit-transition-property:border,box-shadow;
  -webkit-transition-timing-function:linear,linear;
  -webkit-user-select:text;
  -webkit-writing-mode:horizontal-tb;
  background-clip:border-box;
  background: #daccaf none scroll;
  background-origin:padding-box;
  background-size:auto;
  border-image-outset:0;
  border-image-repeat:stretch;
  border-image-slice:100%;
  border-image-source:none;
  border-image-width:1;
  border-radius: 4px;
  box-shadow:none;
  box-sizing:border-box;
  color:#56534d;
  cursor:auto;
  display:inline-block;
  font-size:15px;
  font-stretch:normal;
  font-style:normal;
  font-variant:normal;
  font-weight:200;
  height:41px;
  letter-spacing:.375px;
  line-height:20px;
  text-align:start;
  text-indent:0;
  text-shadow:none;
  text-transform:none;
  transition-delay:0s,0;
  transition-duration:0.2s,.2s;
  transition-property:border,box-shadow;
  transition-timing-function:linear,linear;
  width:352px;
  word-spacing:0;
  writing-mode:lr-tb;
  border: 1px solid #cabc9f;
  margin:0 0 3px;
  padding:9px 15px 10px
}

li.getAccess {
  background-clip:border-box;
  background: #3e579d none scroll;
  background-origin:padding-box;
  background-size:auto;
  border-image-outset:0;
  border-image-repeat:stretch;
  border-image-slice:100%;
  border-image-source:none;
  border-image-width:1;
  border-radius: 4px;
  color: #fff;
}
li.getAccess:hover{
  background: #aebadc none scroll;
}
a.getAccess {    
  color: #fff;
}
a.getAccess:hover {    
  color: black;
}

button.customButton {
  -webkit-appearance:none;
  -webkit-background-clip:border-box;
  -webkit-background-origin:padding-box;
  -webkit-background-size:auto;
  -webkit-box-shadow:none;
  -webkit-font-smoothing:antialiased;
  -webkit-transition-delay:0;
  -webkit-transition-duration:.2s;
  -webkit-transition-property:all;
  -webkit-transition-timing-function:ease;
  -webkit-writing-mode:horizontal-tb;
  align-items:flex-start;
  background-clip:border-box;
  background: #3e579d none scroll;
  background-origin:padding-box;
  background-size:auto;
  border-image-outset:0;
  border-image-repeat:stretch;
  border-image-slice:100%;
  border-image-source:none;
  border-image-width:1;
  border-radius: 4px;
  box-shadow:none;
  box-sizing:border-box;
  color:#fff;
  cursor:pointer;
  display:inline-block;
  font-size:12px;
  font-stretch:normal;
  font-style:normal;
  font-variant:normal;
  font-weight:600;
  height:40px;
  letter-spacing:normal;
  line-height:12px;
  outline: #fff none 0;
  overflow-x:visible;
  overflow-y:visible;
  text-align:center;
  text-decoration:none;
  text-indent:0;
  text-shadow:none;
  text-transform:none;
  transition-delay:0;
  transition-duration:.2s;
  transition-property:all;
  transition-timing-function:ease;
  vertical-align:middle;
  width:352px;
  word-spacing:0;
  writing-mode:lr-tb;
  border: 0 none #fff;
  margin:0;
  padding:15px 20px 13px
}


.sign-up-disclaimer {
  font-size: 12px;
  line-height: 1;
  margin: 18px 0 10px;
  text-align: center
}

.sign-up-disclaimer > a {
  color: inherit;
  font-weight: bold
}

.sign-up-disclaimer > a:hover, .sign-up-disclaimer > a:focus {
  color: #b5b5b2
}


.sign-up-main input, button {
  margin-bottom:5px;
}

.sign-up-error {
    font-weight: bold;
    padding: 10px;
    margin-top: 10px;
    color: #d41413;
}

iframe {
  border:0;
  margin:0;
  padding:0;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
  cursor: pointer;
}


.fblogin {
  -webkit-background-clip: border-box;
  -webkit-background-origin: padding-box;
  -webkit-background-size: auto;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  background-clip: border-box;
  background: rgb(59, 89, 152) none scroll;
  background-origin: padding-box;
  background-size: auto;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  height: 34px;
  line-height: 20px;
  margin-bottom: 0px;
  margin-top: 5px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 6px 12px 6px 44px;
  position: relative;
  text-align: left;
  text-decoration: none;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
  width: 111px;
}

.form-control {
  border-image-outset:0;
  border-image-repeat:stretch;
  border-image-slice:100%;
  border-image-source:none;
  border-image-width:1;
  border-radius: 4px;
}

.form-control:focus {
  border-color: #009ae6;
  outline: 0;
}

.fbloginIcon {
-webkit-font-smoothing: antialiased;
border-right-color: rgba(0, 0, 0, 0.2);
border-right-style: solid;
border-right-width: 1px;
bottom: 0px;
box-sizing: border-box;
color: rgb(255, 255, 255);
cursor: pointer;
display: block;
font-family: FontAwesome;
font-size: 22px;
font-stretch: normal;
font-style: normal;
font-variant: normal;
font-weight: normal;
height: 32px;
left: 0px;
line-height: 34px;
position: absolute;
text-align: center;
text-rendering: auto;
top: 0px;
white-space: nowrap;
width: 32px;
}

.field {
  margin-bottom: 5px;
}

.btn {
  outline: none;
}

.btn:focus, .btn:active, .btn:active:focus, .btn.active:focus {
  outline: none;
  border: 1px solid #009ae6;
}

.ui-select-toggle {
  visibility: hidden;
  display:none;
}
.ui-select-bootstrap>.ui-select-choices {
  margin-top:-5px;
  max-height:80px;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
  background-color: #daccaf;
  border-color: #cabc9f;
}

/* animations */
.animate-enter, .animate-leave
{ 
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
} 
.animate-enter.animate-enter-active, 
.animate-leave {
    opacity: 1;
    top: 0;
    height: 30px;
} 
.animate-leave.animate-leave-active,
.animate-enter {
    opacity: 0;
    top: -50px;
    height: 0px;
}

.navbar {
    margin-bottom: 1.3em;
    background: none;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.0);
    box-shadow: none;
    
}
.navbar-default{
    border: none;
}
.navbar-toggle{
    border: rgba(0,0,0,0.0);
}
 
.navbar-default .navbar-nav > li > a{
    color: black;
}
 
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: rgba(0,0,0,0.0);
}
 
.dropdown-menu
{
    background-color: rgba(255, 255, 255, 0.0);
}

.clear {
    clear: both;
}
.collapse2 {
    background-color: black;
}

p.about {
    text-align: left;
}

/*About page*/
h2.faq-question {
    font-style: italic;
    text-align: left;
    font-size: 1.5em;
    font-weight: bold;
}
p.faq-answer {
    text-align: left;
}

div.text-content {
    padding-right: 20%; 
    padding-left: 20%; 
    padding-bottom: 100px;
}