﻿body {
    padding: 0px;
    margin: 0px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-image: url('../images/bg1.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}

div.transparentWhite {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 5%;
}

ul.upper-alpha {
    list-style: upper-alpha;
}

    ul.upper-alpha li {
        margin-bottom: 10px;
    }

ul.lower-alpha {
    list-style: lower-alpha;
}

    ul.lower-alpha li {
        margin-bottom: 10px;
    }
