﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Kadho - Terms of Service</title>
    <link rel="stylesheet" href="@Url.Content("~/Content/styles/tos.css")" type="text/css">
</head>
<body>
    <div class="transparentWhite">
        <h1>Terms of Service</h1>
        <p>
            These Terms of Service (“TOS”) govern the use of Kadho at kadho.com and on mobile devices (collectively, “Kadho”).
        </p>

        <p>
            These TOS represent a binding contract between you and Kadho Inc., and by creating an account or otherwise accessing Kadho,
            you expressly agree to be bound by them,
            INCLUDING THE AGREEMENT TO ARBITRATE AND WAIVER OF CLASS ACTION CLAIMS CLAUSE CONTAINED IN SECTION 10.
            The TOS incorporate the provisions of the Privacy Policy and Payment Policy, so please review them carefully as well.
            If you do not agree to be bound by the TOS, you may not use or purchase Kadho.
        </p>
        <h3>1.	Your Account Information and Email</h3>
        <p>
            Kadho provides a personalized content and training experience.              When you create an account, we require you to provide information about yourself, including your email address and a password (“Account Information“).              Some Kadho features either now or in the future may allow you to post or submit content and materials for publication on Kadho (“Your Content”).              You own any intellectual property rights to Your Content, but you agree that we can use,              reproduce, modify, adapt and publish Your Content for purposes of enabling us to offer Kadho or the features you have elected to use.              You are responsible for Your Content, and acknowledge that once published, we cannot always remove it.              You agree that we may send communications to your email address for customer service, confirmations, newsletters, product offers and other matters.             You may choose to opt out of much of this email correspondence through your Account Settings pages or by using the links at the bottom of our emails.
            Please note that even if you opt out, we’ll still send you account-related emails, such as purchase confirmation and password reset emails.
        </p>
        <h3>2.	Intellectual Property</h3>
        <p>
            Kadho is protected by U.S. and international intellectual property laws and you agree to abide by them.              Without our prior written consent, you may not download, copy or store Kadho content in any form outside of Kadho and you may not modify,              publish, transmit, participate in the transfer or sale of, reproduce, create derivative works based on, distribute, or perform any Kadho content.              You agree that all data and algorithms in our flash files and associated servers are “trade secrets” as defined, without limitation,              in the California Uniform Trade Secrets Act. You agree to comply with reasonable written requests from us to help us in protecting              our proprietary and intellectual property rights in Kadho. All intellectual property rights in Kadho are, as between you and Kadho Inc.,              the sole and exclusive property of Kadho Inc..              Some Kadho features either now or in the future may allow you to post or submit content and materials for publication on Kadho (“Your Content”).              You own any intellectual property rights to Your Content, but you agree that we can use, reproduce, modify,              adapt and publish Your Content for purposes of enabling us to offer Kadho or the features you have elected to use.              You are responsible for Your Content, and acknowledge that once published, we cannot always remove it.
            We appreciate when you provide us feedback through customer service or by email or social features,
            but we may use any feedback, comments, or suggestions without any obligations to you.
        </p>
        <h3>3.	Your License to Use Kadho</h3>
        <p>
            We are providing you with access to Kadho pursuant to a limited, non-exclusive, non-sublicenseable, non-transferable, revocable license.
            You can use Kadho for personal, non-commercial use only, and subject to the TOS.
            This license is available to you as long as you are not barred from Kadho by applicable law and your account is not terminated by us or by you.
            If the TOS are not enforceable where you are located, you may not use Kadho.
            Kadho Inc. reserves all right, title, and interest not expressly granted under this license to the fullest extent possible under applicable laws.
        </p>
        <h3>4.	Canceling Your Account</h3>
        <p>
            While we hope you enjoy using Kadho, you may cancel your account at any time by contacting our customer support team.
            For information about the availability of refunds, please review our Payment Policy.
        </p>
        <h3>5.	Restrictions and Prohibited Uses</h3>
        <p>
            Kadho is used by millions of people, and we are proud of the trust our users place in us.
            We expect, in turn, that our users do not misuse our products and services. Except with our written permission, you shall not:
            <ul>
                <li>Attempt to impersonate another person or use another person’s Kadho account information without authorization;</li>
                <li>Use or distribute Kadho for your own scientific or clinical research purposes;</li>
                <li>Violate or attempt to violate Kadho’s security features, including logging into a server that you are not authorized to access, or probing the vulnerability of Kadho systems and networks;</li>
                <li>Redistribute, decompile, reverse engineer, publish, or copy Kadho, including cracking its flash (.SWF) files;</li>
                <li>Use Kadho for the purpose of creating a product with a substantially similar look, feel or design;</li>
                <li>Access or search Kadho by any means other than our publicly supported interfaces (for example, “scraping”);</li>
                <li>Interfere with others’ use and enjoyment of Kadho;</li>
                <li>Use Kadho or any trademarks, game names, trade names, service marks, copyrights, or logos of Kadho Inc., in unsolicited mailings, spam material, contests or surveys, or to create the impression that such items are associated with you;</li>
                <li>Violate any third party’s rights, including intellectual property or privacy rights;</li>
                <li>Threaten, stalk, harm, or harass others; or engage in activity in connection that is fraudulent, abusive, defamatory, illegal or otherwise inappropriate.</li>
            </ul>
            Engaging in prohibited uses is grounds for immediate termination of your Kadho account, and may also subject you to civil or criminal penalties.
        </p>
        <h3>6.	Disclaimers</h3>
        <p>
            YOU AGREE THAT USE OF KADHO IS AT YOUR OWN SOLE RISK AND THAT KADHO IS PROVIDED ON AN “AS IS”, “AS AVAILABLE” BASIS,              WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED. TO THE MAXIMUM EXTENT PERMITTED BY LAW, KADHO INC.              AND ITS AFFILIATES, OFFICERS AND/OR EMPLOYEES EXPRESSLY DISCLAIM ANY AND ALL WARRANTIES, EXPRESS OR IMPLIED,              REGARDING KADHO, INCLUDING ANY IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NONINFRINGEMENT.              Some jurisdictions do not allow the disclaimers in this paragraph, so they may not apply to you.              KADHO INC. STRIVES TO MAINTAIN KADHO ON A COMMERCIALLY REASONABLE BASIS AND CANNOT GUARANTEE THAT YOU WILL HAVE ACCESS TO KADHO AT ALL TIMES.
            KADHO IS NOT A MEDICAL SERVICE AND IS NOT TO BE USED FOR THE PURPOSE OF SEEKING, AND KADHO IS NOT PROVIDING, MEDICAL TREATMENT OR ADVICE.
        </p>
        <h3>7.	Limitation of Liability</h3>
        <p>
            IN NO EVENT SHALL KADHO INC. OR ITS AFFILIATES, OFFICERS AND/OR EMPLOYEES BE LIABLE WITH RESPECT TO KADHO FOR (I) IN THE AGGREGATE,              ANY AMOUNT IN EXCESS OF THE FEES PAID BY YOU TO SUBSCRIBE TO KADHO; (II) LOST PROFITS,              LOST DATA, OR FAILURE TO MEET ANY DUTY INCLUDING WITHOUT LIMITATION GOOD FAITH AND REASONABLE CARE ARISING OUT OF YOUR ACCESS TO OR USE OF KADHO;              OR (III) ANY DIRECT, INDIRECT, INCIDENTAL, PUNITIVE, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES OF ANY KIND WHATSOEVER.
            YOU AGREE THAT THIS LIMITATION OF LIABILITY REPRESENTS A REASONABLE ALLOCATION OF RISK AND
            IS A FUNDAMENTAL ELEMENT OF THE BASIS OF THE BARGAIN BETWEEN KADHO INC. AND YOU. YOU UNDERSTAND THAT KADHO WOULD NOT BE PROVIDED
            WITHOUT SUCH LIMITATIONS. Some jurisdictions do not allow the limitations in this section, so they may not apply to you.
        </p>
        <h3>8.	DMCA Contact</h3>
        <p>
            We comply with the provisions of the Digital Millennium Copyright Act applicable to service providers.
            If you have any complaints with respect to material posted on Kadho, you may contact our designated agent
            by email to creative@kadho.com or at the following address:
            <br /><br />
            Kadho Inc., Inc.
            ATTN: DMCA Complaint
            65 Enterprise
            Aliso Viejo, CA 92656
            <br /><br />
            You must include the following information in your complaint:
            <ul>
                <li>a description of the copyrighted work or other intellectual property that you claim has been infringed;</li>
                <li>a description of the copyrighted work or other intellectual property that you claim has been infringed;</li>
                <li>a description of the material that you claim is infringing and where it is located on Kadho;</li>
                <li>your mailing address, telephone number, and if available, email address;</li>
                <li>a statement by you that you have a good faith belief that the use of the material on Kadho is not authorized by the copyright owner, its agent, or the law;</li>
                <li>a statement by you that the above information in your notice is accurate and that, under penalty of perjury, you are the copyright or intellectual property owner or authorized to act on behalf of the copyright or intellectual property owner; and</li>
                <li>an electronic or physical signature of the person authorized to act on behalf of the owner of the copyright or other right being infringed.</li>
            </ul>
        </p>

        <h3>9.	Indemnity</h3>
        <p>
            You will indemnify and hold harmless Kadho Inc., its affiliates, officers and/or employees,
            including by paying costs and attorneys’ fees, from any claim or demand made by any third party due to or arising out of your access to Kadho,
            Your Content, or the violation of the TOS by you.
        </p>

        <h3>10.	Agreement to Arbitrate and Waiver of Class Action Claims</h3>
        <p>
            PLEASE READ THIS SECTION 10 CAREFULLY – IT MAY SIGNIFICANTLY AFFECT YOUR LEGAL RIGHTS, INCLUDING YOUR RIGHT TO FILE A LAWSUIT IN COURT.
            <br /><br />
            If a dispute arises, our goal is to provide you a neutral and cost effective means to resolve it quickly. Most disputes can be resolved informally. Before filing a claim against Kadho Inc., you agree to try to resolve the dispute by contacting us in writing at Kadho Inc., Inc Kadho Inc, ATTN: DMCA Complaint, 65, Enterprise, Aliso Viejo, CA 92656, or by email to creative@kadho.com
            Before we file a claim against you, we agree to contact you at the email address associated with your Kadho account. If the dispute is not resolved within 30 days of notice, either you or we may bring a formal proceeding pursuant to the following procedures:             <br />
            <ul class="upper-alpha">
                <li>GENERAL. YOU AGREE THAT YOU AND KADHO INC. WILL RESOLVE THROUGH BINDING ARBITRATION ANY DISPUTE, CLAIM OR CONTROVERSY BETWEEN US ARISING OUT OF OR RELATING IN ANY WAY TO KADHO OR YOUR USE THEREOF, INCLUDING THESE TOS (collectively, “ARBITRAL CLAIMS”), with a few exceptions set forth below. The arbitrator, and not any court, shall have exclusive authority to resolve all disputes arising out of or relating to the interpretation, applicability, enforceability, or formation of this Agreement to Arbitrate, including any claim that all or any part of this Agreement to Arbitrate is void or voidable, or whether a claim is subject to arbitration.ARBITRATION IS DIFFERENT FROM COURT. THE RULES, INCLUDING DISCOVERY, ARE DIFFERENT AND NO JUDGE OR JURY IS PRESENT AT AN ARBITRATION. IN SOME INSTANCES, THE COSTS OF ARBITRATION COULD EXCEED THE COST OF LITIGATION, AND THE RIGHT TO DISCOVERY MAY BE MORE LIMITED. THE AWARD IS FINAL AND BINDING AND SUBJECT ONLY TO LIMITED REVIEW BY A COURT. YOU UNDERSTAND THAT, ABSENT THIS MANDATORY PROVISION, YOU MAY HAVE THE RIGHT TO SUE IN COURT AND HAVE A JURY TRIAL.</li>
                <li>ARBITRATION SERVICES AND RULES. Judicial Arbitration and Mediation Services (“JAMS”) will administer the arbitration using the JAMS’ procedures and rules in effect on the date the Arbitration is filed (“JAMS Rules”). In the event the JAMS Rules are inconsistent with this Agreement to Arbitrate, this Agreement will prevail. JAMS is independent from us, and you may obtain copies of the current JAMS Rules, and other related materials, including forms and instructions for initiating arbitration, by contacting JAMS at 1920 Main Street, Suite 300, Irvine, CA 92614 1-800-352-5267 or www.jamsadr.com.</li>
                <li>FILING FEES. If your claim is for $7,500 or less, we will reimburse you for the filing fee.</li>
                <li>LOCATION OF ARBITRATION. If your claim is for $7,500 or less, you may choose whether the arbitration will be conducted solely on the basis of documents submitted to the arbitrator, through a telephonic hearing, or by an in-person hearing as established by the JAMS Rules, and any in-person hearing will be held in the United States county where you live or work, San Francisco, CA, or any other location you and we mutually agree to.</li>
                <li>SETTLEMENT AWARDS AND FEE REIMBURSEMENT. If you prevail, and the arbitrator issues an award that exceeds our best written settlement offer that we made prior to 30 days into the arbitration (or if we did not make a settlement offer before that point), then we will pay you the amount of the award or $7,500, whichever is greater. Also, if you prevail, and the arbitrator issues an award that exceeds our best written settlement offer that we made prior to 30 days into the arbitration (or if we did not make a settlement offer before that point) and the amount of the award is less than $7,500, we will reimburse you for arbitration fees and your reasonable attorneys’ fees and costs.</li>
                <li>EXCEPTIONS TO ARBITRAL CLAIMS. As an exception to this Section 10, you may assert claims on an individual basis, if they qualify under applicable rules, in Small Claims court. Also, either you or we may bring claims to enforce intellectual property rights without first engaging in arbitration or the informal dispute resolution described in this Section 10.</li>
                <li>CLASS ACTION WAIVER. YOU AND KADHO INC. AGREE THAT EACH MAY BRING CLAIMS AGAINST THE OTHER ONLY IN YOUR OR ITS INDIVIDUAL CAPACITY AND NOT AS A PLAINTIFF OR CLASS MEMBER IN ANY PURPORTED CLASS OR REPRESENTATIVE PROCEEDING. YOU FURTHER AGREE WITH KADHO INC. THAT NEITHER YOU NOR KADHO INC. WILL JOIN ANY ARBITRAL CLAIM WITH THE CLAIM OF ANY OTHER PERSON OR ENTITY IN A LAWSUIT, ARBITRATION OR OTHER PROCEEDING; THAT NO ARBITRAL CLAIM WILL BE RESOLVED ON A CLASS-WIDE BASIS; THAT NEITHER YOU NOR KADHO INC. WILL ASSERT AN ARBITRAL CLAIM IN A REPRESENTATIVE CAPACITY ON BEHALF OF ANYONE ELSE; AND BOTH PARTIES EXPRESSLY WAIVE THEIR RIGHT TO FILE A CLASS ACTION OR SEEK RELIEF ON A CLASS BASIS. If any court or arbitrator determines that the class action waiver set forth in this paragraph is void or unenforceable or that arbitration can proceed on a class basis, then this Agreement to Arbitrate shall be deemed null and void in its entirety and the parties shall be deemed to have not agreed to arbitrate disputes.</li>
                <li>NO RIGHT TO JURY TRIAL. YOU AND KADHO INC. ALSO HEREBY WAIVE THE RIGHT TO A JURY TRIAL EVEN IF THIS AGREEMENT TO ARBITRATE IS HELD NOT TO APPLY. YOU EXPRESSLY WAIVE YOUR RIGHT TO A JURY TRIAL IN THE EVENT THAT EITHER PARTY SELECTS ARBITRATION TO RESOLVE THE DISPUTE UNDER THIS AGREEMENT.</li>
                <li>30 DAY OPT OUT RIGHT. You have the right to opt-out and not be bound by the arbitration and the class action waiver provisions set forth in this Section 10 by sending written notice of your decision to opt-out to the following address: Kadho Inc., Inc., ATTN: Arbitration Opt-out, 65 Enterprise, Aliso Viejo, CA 92656, or by email to opt-out@lumoslabs.com. For new users, the notice must be sent within 30 days of registering for Kadho, and for existing users, the notice must be sent within 30 days of the effective date of this policy. If you do not opt-out, you shall be bound to the terms in this Section 10. If you choose to opt-out, Kadho Inc. also will not be bound.</li>
            </ul>
        </p>
        <h3>11.	General</h3>
        <ul class="lower-alpha">
            <li>Severability and Waiver. If any part of the TOS is held invalid or unenforceable, the remaining provisions of the TOS will remain in full effect and an enforceable term will be substituted reflecting yours and our intent as closely as possible. Either party’s failure to enforce any term or condition in the TOS is not a waiver of its right to do so later.</li>
            <li>Governing Law, Jurisdiction and Venue. Except to the extent preempted by the Federal Arbitration Act (“FAA”), the TOS are governed by California law without regard to conflict of law provisions. Except as provided in Section 10, or to the extent preempted by the FAA, both parties further consent to the personal jurisdiction of and exclusive venue in the federal and state courts in San Francisco County, California as the legal forum for any dispute between them.</li>
            <li>Change Policy. The TOS may be updated from time to time. If we make material changes, we will provide advance notice to you either by email, by posting a notification on Kadho or by posting an updated TOS on Kadho at least 30 days in advance of the effective date of the updated TOS. Please note that unless otherwise provided by applicable law, your continued use of Kadho following the effective date means that you agree with, and consent to be bound by, the updated TOS.</li>
            <li>Miscellaneous. The TOS are the complete and exclusive statement of the mutual understanding of the parties and supersede all previous written and oral agreements relating to the subject matter of the TOS. If there is any conflict between the TOS and any additional terms, conditions, and rules posted by Kadho Inc. on Kadho, the TOS shall govern, unless otherwise indicated. Sections 2-11 shall survive any termination of the TOS.</li>

        </ul>
    </div>
</body>
</html>
